*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

body{
    font-family: 'Ubuntu', sans-serif;
}
 


/*COMMON CSS ENDS*/
:root{
    --mainfont:'Ubuntu', sans-serif;
    --secondaryfont:'Abril Fatface', cursive;
    --thirdfont:'Open Sans', sans-serif;
  --maincolor:#0f2f44;
  --scondarycolor:#ffc712;
}

/*HEADER START*/
header{
  background-color:var( --maincolor);
  color: white;
  padding: 18px 0;
}

header .welcome, header .opening{
    width: 50%; 
}

header .opening{
    text-align: right;
}

/*HEADER ENDS*/



/*NAV SECTION START */

nav{
    background-color:#ffffff ;

    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.5);
}

nav .logo{
    width: 25%;
}
  
nav .menu{
    width: 60%;
}
  nav .searche{
  width: 15%;
  }

 nav .logo img{
    margin: 0 50px;
   
 }

 nav .menu ul{
    text-align: center;
 }

 nav .menu ul li{
    display: inline-block;
 }
 
 nav .menu ul li a{
    font-size: 16px;
    font-weight: 500;
    color: #222222;
    text-transform: capitalize;
    display: block;
    padding: 42px 19px;
 }

 nav .menu ul li a:hover{
    background-color: #fff9e6;
    color: var(--scondarycolor);
    transition: 0.4s;
}
  
 

 nav .menu ul li .searche{
    font-size: 19px;
   
    width: 35px;
    height: 35px;
    display: block;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    color: #999999;
    cursor: pointer ;
   
 }

 nav .menu ul li .searche .searche 1{
    font-size: 19px;
   
    width: 35px;
    height: 35px;
    display: block;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    color: #999999;
    cursor: pointer ;
   
 }




/*NAV SECTION ENDS */



    

/* SERVICE SECTION START */

#services{
    padding: 70px 0;
    background-image: url(../image/image.jpg);
    background-size: cover;
    background-position: center;
}

/* SERVICE SECTION ENDS */